<!DOCTYPE html>
<html>
  <head>
    <title>Socialnet</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render '/layouts/nav' %> <!-- rengering to _nav.html.erb for calling dynamic navbar -->
    <div class="container">
      <span class="notice"><%= notice %></span> <!--aleart notfications for user signedin or logout -->
       <span class="alert"><%= alert %></span> <!--aleart notfications for user signedin or logout -->
    <%= yield %>
  </div>
  </body>
</html>
